<p id="notice"><%= notice %></p>

<p>
  <b>Feed:</b>
  <%= @feed.feed_id %>
</p>

<p>
  <b>User:</b>
  <%= @feed.user_id %>
</p>


<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
