<%= form_for(@opinion) do |f| %>
  <% if @opinion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@opinion.errors.count, "error") %> prohibited this opinion from being saved:</h2>

      <ul>
      <% @opinion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% @opinion.restaurant_id = @restaurant.id %>
  <% @current = session[ :user_id ] %>
  <% @opinion.user_id = @current.id %>
  <% @opinion.foodie = @current.foodie %> 
	<% @opinion.like = -1 %>
	<% @opinion.to_eat = ""%>
	<% @opinion.to_drink = ""%>
		

  <div class="field">
  	<%= f.hidden_field :restaurant_id %>
  </div>
  <div class="field">
  	<%= f.hidden_field :user_id %>
  </div>
  <div class="field">
  	<%= f.hidden_field :foodie %>
  </div>
  <div class="field">
  	<%= f.hidden_field :like %>
	</div>
  <div class="field">
    <%= f.hiden_field :to_eat %>
  </div>
  <div class="field">
    <%= f.hidden_field :to_drink %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
