<%= form_for(@opinion) do |f| %>
  <% if @opinion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@opinion.errors.count, "error") %> prohibited this opinion from being saved:</h2>

      <ul>
      <% @opinion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% @opinion.restaurant_id = @restaurant.id %> 

  <div class="field">
  	<% f.label :restaurant_id %>
  	<% f.text_field :restaurant_id %>
  </div>
  <div class="field">
    <%= f.label :to_eat %><br />
    <%= f.text_field :to_eat %>
  </div>
  <div class="field">
    <%= f.label :to_drink %><br />
    <%= f.text_field :to_drink %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
