<% puts("\n\nopinion printout\n\n")%>
<% if !@user.nil?%>
	
	<% restaurant = opinion.restaurant %>
	<div class="restaurantNameLeft"><%= link_to restaurant.name, restaurant_path(restaurant) %>
		<div class="restaurantRecommend"> <div>
			<div id="fb-root"></div>
			<fb:like href="<%= "http://foodierecs.com"+restaurant_path(restaurant) %>"  send="false" 
					layout="button_count" width="50" show_faces="true" font="verdana" style="float:left"></fb:like>
			<% if !Opinion.where( :restaurant_id => restaurant.id, :user_id => current_user.id ).exists? %>
			<a href="javascript:function Z(){Z=''}Z()"> <!--this code makes it look like a link, even though it's not -->
				<img id="notForFoodies<%=restaurant.id%>" src="../images/not-for-foodies.jpg">
			</a>
			<% end %>
			</div>
		</div>
		<% if !opinion.to_eat.nil? && !opinion.to_eat.empty? %>
			<div class="foodieDish"><span class="recTag">eat:</span> <%= opinion.to_eat %></div>
		<%end%>
		<% if !opinion.to_drink.nil? && !opinion.to_drink.empty? %>
			<div class="foodieDrink"><span class="recTag">drink:</span> <%= opinion.to_drink %></div>
		<%end%>
	</div>
	
	<%if( !current_user.nil? )%>
	<script>
		$('#notForFoodies<%=restaurant.id%>').click(function(){
			$.post( "/opinions", { 'opinion[user_id]': <%=current_user.id%>, 'opinion[restaurant_id]': <%=restaurant.id%>,
				 					'opinion[foodie]': <%=current_user.foodie%>, 'opinion[like]': -1 },
				function( data ){
					//TO DO: WHY DOES IT NEVER GET IN HERE???
					alert( 'Marked as not for foodies!' );
				})
				alert( 'Marked as not for foodies!' );
				$('#notForFoodies<%=restaurant.id%>').hide();
		});
	</script>
	<%end%>
	
<% elsif !@restaurant.nil? %>

	<% @user_temp = opinion.user %>
	<% if opinion.foodie == @foodie && opinion.like > 0 %>
	<div class="foodieName"><%= link_to @user_temp.first_name+' '+@user_temp.last_name, user_path(@user_temp) %>
		<div class="foodieDish"><span class="recTag">eat:</span> <%= opinion.to_eat %></div>
		<div class="foodieDrink"><span class="recTag">drink:</span><%= opinion.to_drink %></div>
	</div>
	<% end %>
	
<% else %>

<% restaurant = opinion.restaurant %>
<% user = opinion.user %>
<% puts("\n\n\nrecommended\n\n\n") %>
<div class="restaurantWithPct">
	<div class="pct">100%<br /><span class="foodies">foodies</span></div>
	<div class="restaurantWithoutPct">
		<div class="restaurant">
			 <%= link_to restaurant.name, restaurant_path(restaurant) %> 
			<span class="addressAndName">
							(<%= restaurant.street_number + " " + restaurant.vicinity %>. Recommended by 
							<%= link_to user.first_name + " " + user.last_name, user_path(user) %>) 
			</span>
		</div>
		<% #puts(restaurant_path(restaurant))%>
		<% if !opinion.to_eat.nil? && !opinion.to_eat.empty? %>
			<span class="foodieDish"><span class="recTag">eat:</span> <%= opinion.to_eat %></span>
		<%end%>
		<% if !opinion.to_drink.nil? && !opinion.to_drink.empty? %>
			<span class="foodieDrink"><span class="recTag">drink:</span> <%= opinion.to_drink %></span>
		<%end%>

		<span class="restaurantRecommend withFoodie"> 
			<div id="fb-root"></div>
			<fb:like href="<%= "http://foodierecs.heroku.com"+restaurant_path(restaurant) %>"  send="false" 
					layout="button_count" width="50" show_faces="true" font="verdana" style="float:left"></fb:like>
			<% if !Opinion.where( :restaurant_id => restaurant.id, :user_id => current_user.id ).exists? %>
			<a href="javascript:function Z(){Z=''}Z()"> <!--this code makes it look like a link, even though it's not -->
				<img id="notForFoodies<%=restaurant.id%>" src="../images/not-for-foodies.jpg">
			</a>
			<% end %>
		</span>
	</div>
</div>

<%if( !current_user.nil? )%>
<script>
	$('#notForFoodies<%=restaurant.id%>').click(function(){
		$.post( "/opinions", { 'opinion[user_id]': <%=current_user.id%>, 'opinion[restaurant_id]': <%=restaurant.id%>,
			 					'opinion[foodie]': <%=current_user.foodie%>, 'opinion[like]': -1 },
			function( data ){
				//TO DO: WHY DOES IT NEVER GET IN HERE???
				alert( 'Marked as not for foodies!' );
			})
			alert( 'Marked as not for foodies!' );
			$('#notForFoodies<%=restaurant.id%>').hide();
	});
</script>
<%end%>

<% @count += 1 %>	
<% end %>