<% puts("\n\nopinion printout\n\n")%>
<% if !@user.nil? %>
<!-- This means this is being called from the user page -->
<% if opinion.like > 0 %>	
	<% restaurant = opinion.restaurant %>
	<div class="restaurantNameRec"><%= link_to restaurant.name, restaurant_path(restaurant) %>
		<% if !opinion.to_eat.nil? && !opinion.to_eat.empty? %>
			<div class="foodieDish"><span class="recTag">eat:</span> <%= opinion.to_eat %></div>
		<%end%>
		<% if !opinion.to_drink.nil? && !opinion.to_drink.empty? %>
			<div class="foodieDrink"><span class="recTag">drink:</span> <%= opinion.to_drink %></div>
		<%end%>
		
		<%if( !session[ :user_id ].nil? )%>
		<div class="restaurantRecommend withFoodie">
			<% thisOpinion = restaurant.opinions.where( :user_id => session[ :user_id ] )
			forFoodiesClass = ""
			notForFoodiesClass = ""
			if( thisOpinion.exists? )
				if( thisOpinion.first.like == 1 )
					forFoodiesClass = "forFoodiesOn"
				elsif( thisOpinion.first.like == -1 )
					notforFoodiesClass = "notForFoodiesOn"
				end
			end 
			%>
			<a href="#action" class="forFoodies <%=forFoodiesClass%>" id="forFoodies<%=restaurant.id%>"></a>
			<a href="#action" class="notForFoodies <%=notforFoodiesClass%>" id="notForFoodies<%=restaurant.id%>"></a>
		</div>
		<script>
			$('#notForFoodies<%=restaurant.id%>').click(function(){
				//turn this button on
				$('#notForFoodies<%=restaurant.id%>').addClass( 'notForFoodiesOn');
				
				//if the other one is on, turn that off
				if( $( '#forFoodies<%=restaurant.id%>' ).hasClass( "forFoodiesOn" ) )
					$( '#forFoodies<%=restaurant.id%>' ).removeClass( "forFoodiesOn" );
					
				$.post( "/opinions", { 'opinion[user_id]': <%=session[ :user_id ]%>, 'opinion[restaurant_id]': <%=restaurant.id%>,
					 					'opinion[foodie]': <%=User.find_by_id(session[:user_id]).foodie%>, 'opinion[like]': -1 }
						)
			});

			$('#forFoodies<%=restaurant.id%>').click(function(){
				//turn this button on
				$('#forFoodies<%=restaurant.id%>').addClass( 'forFoodiesOn');
				
				//if the other one is on, turn that off
				if( $( '#notForFoodies<%=restaurant.id%>' ).hasClass( "notForFoodiesOn" ) )
					$( '#notForFoodies<%=restaurant.id%>' ).removeClass( "notForFoodiesOn" );

				//These two are for the dialog box
				$('#opinion_restaurant_id').attr( 'value', <%=restaurant.id%> );
				$("#dialog").dialog('open');

				$.post( "<%= url_for( :controller => 'opinions', :only_path => false ) %>", 
						{ 'opinion[user_id]': <%= session[ :user_id ] %>, 'opinion[restaurant_id]': <%=restaurant.id%>,
							'opinion[foodie]': <%= User.find_by_id(session[:user_id]).foodie %>, 'opinion[like]': 1 }
					)
			});
		</script>
		<%end%>
		
	</div>
	
<% end %>
	
<% elsif !@restaurant.nil? %>
	<!-- This means this snippet is being called by a restaurant page -->
	<% @user_temp = opinion.user %>
	<% if opinion.foodie == @foodie && opinion.like > 0 %>
	<div class="foodieName"><%= link_to @user_temp.first_name+' '+@user_temp.last_name, user_path(@user_temp) %>
		<% if !opinion.to_eat.nil? && !opinion.to_eat.empty? %>
			<div class="foodieDish"><span class="recTag">eat:</span> <%= opinion.to_eat %></div>
		<%end%>
		<% if !opinion.to_drink.nil? && !opinion.to_drink.empty? %>
			<div class="foodieDrink"><span class="recTag">drink:</span> <%= opinion.to_drink %></div>
		<%end%>
	</div>
	<% end %>
	
<% else %>
<!-- This means this is being called from the home page -->
<% restaurant = opinion.restaurant %>
<% user = opinion.user %>
<div class="restaurantWithPct">
	<% totalFoodieVotes = restaurant.foodie_likes + restaurant.foodie_dislikes
	if( totalFoodieVotes == 0 )
		foodiePct = 0.0
	else
		foodiePct = restaurant.foodie_likes * 100 / totalFoodieVotes 
	end %>
	<div class="pct"><%=foodiePct.to_i %>%<br />
		<span class="foodies">foodies</span></div>
	<div class="restaurantWithoutPct">
		<div class="restaurant">
			 <%= link_to restaurant.name, restaurant_path(restaurant) %> 
			<% street_num = restaurant.street_number == nil ? ( 0 ) : ( restaurant.street_number ) %>
			<span class="addressAndName">
							(<%= street_num.to_s + " " + restaurant.vicinity %>. Recommended by 
							<%= link_to user.first_name + " " + user.last_name, user_path(user) %>) 
			</span>
		</div>
		<% #puts(restaurant_path(restaurant))%>
		<% if !opinion.to_eat.nil? && !opinion.to_eat.empty? %>
			<span class="foodieDish"><span class="recTag">eat:</span> <%= opinion.to_eat %></span>
		<%end%>
		<% if !opinion.to_drink.nil? && !opinion.to_drink.empty? %>
			<span class="foodieDrink"><span class="recTag">drink:</span> <%= opinion.to_drink %></span>
		<%end%>

		<%if( !session[ :user_id ].nil? )%>
		<div class="restaurantRecommend withFoodie">
			<% thisOpinion = restaurant.opinions.where( :user_id => session[ :user_id ] )
			forFoodiesClass = ""
			notForFoodiesClass = ""
			if( thisOpinion.exists? )
				if( thisOpinion.first.like == 1 )
					forFoodiesClass = "forFoodiesOn"
				elsif( thisOpinion.first.like == -1 )
					notforFoodiesClass = "notForFoodiesOn"
				end
			end 
			thisSaved = restaurant.saved_places.where( :user_id => session[ :user_id ] )
			saveLaterClass = "saveForLater"
			if( thisSaved.exists? )
				saveLaterClass = "saveForLater saveForLaterOn"
			end
			%>
			<a href="#action" class="forFoodies <%=forFoodiesClass%>" id="forFoodies<%=restaurant.id%>"></a>
			<a href="#action" class="notForFoodies <%=notforFoodiesClass%>" id="notForFoodies<%=restaurant.id%>"></a>
			<a href="#action" class="<%=saveLaterClass%>" id="saveForLater<%=restaurant.id%>"></a>
		</div>
		<script>
			$('#notForFoodies<%=restaurant.id%>').click(function(){
				//turn this button on
				$('#notForFoodies<%=restaurant.id%>').addClass( 'notForFoodiesOn');
				
				//if the other one is on, turn that off
				if( $( '#forFoodies<%=restaurant.id%>' ).hasClass( "forFoodiesOn" ) )
					$( '#forFoodies<%=restaurant.id%>' ).removeClass( "forFoodiesOn" );
					
				$.post( "/opinions", { 'opinion[user_id]': <%=session[ :user_id ]%>, 'opinion[restaurant_id]': <%=restaurant.id%>,
					 					'opinion[foodie]': <%=User.find_by_id(session[:user_id]).foodie%>, 'opinion[like]': -1 }
						)
			});

			$('#forFoodies<%=restaurant.id%>').click(function(){
				//turn this button on
				$('#forFoodies<%=restaurant.id%>').addClass( 'forFoodiesOn');
				
				//if the other one is on, turn that off
				if( $( '#notForFoodies<%=restaurant.id%>' ).hasClass( "notForFoodiesOn" ) )
					$( '#notForFoodies<%=restaurant.id%>' ).removeClass( "notForFoodiesOn" );

				//These two are for the dialog box
				$('#opinion_restaurant_id').attr( 'value', <%=restaurant.id%> );
				$("#dialog").dialog('open');

				$.post( "<%= url_for( :controller => 'opinions', :only_path => false ) %>", 
						{ 'opinion[user_id]': <%= session[ :user_id ] %>, 'opinion[restaurant_id]': <%=restaurant.id%>,
							'opinion[foodie]': <%= User.find_by_id(session[:user_id]).foodie %>, 'opinion[like]': 1 }
					)
			});

			$('#saveForLater<%=restaurant.id%>').click(function(){
				//we do toggle here because this works for on/off
				$('#saveForLater<%=restaurant.id%>').toggleClass( 'saveForLaterOn')
				$.post( "/saved_places", 
				 		{ 'save_place[user_id]': <%=session[ :user_id ]%>, 'save_place[restaurant_id]': <%=restaurant.id%>,
					 					'save_place[foodie]': <%=User.find_by_id(session[:user_id]).foodie%> }
						)
			});
		</script>
		<%end%>
	</div>
</div>


<% @count += 1 %>	
<% end %>