<html>
<head>


<title><%= @title %></title>

<%= stylesheet_link_tag "userStyle", "http://fonts.googleapis.com/css?family=Lobster+Two", 
										"http://fonts.googleapis.com/css?family=News+Room" %>
<%= javascript_include_tag "http://connect.facebook.net/en_US/all.js", 																										
							"http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js",
							"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" %>

<!--This is for displaying on iOS -->
<meta name="viewport" content="width=500">
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="apple-touch-icon-precomposed" href="../images/appleLogo.jpg" />

<script src="http://connect.facebook.net/en_US/all.js#appId=243953148956166&amp;xfbml=1"></script>
<!--<script type="text/javascript" src="<?php echo $this->config->system_url(); ?>assets/js/bookmark_bubble.js"></script>-->
<!--<script type="text/javascript" src="<?php echo $this->config->system_url(); ?>assets/js/bubble_example.js"></script>-->

</head>
<body onload="setTimeout(function() { window.scrollTo(0, 1) }, 500);" >
<div id="fb-root"></div>
	<!--
	<div class="backgroundImageWrap">
		<img src="../images/bar.jpg" class="backgroundImage" width="1264" height="790">
	</div>
	-->
	<div id="userContent">
		<div id="header">
			foodierecs
		</div>
		
		<div id="userInfo">
			<div id="userName">
				<%= @user.first_name + " " + @user.last_name %>
			</div>
			
			<div id="userFoodieYes">
				<% if @user.foodie%>
					Foodie
				<% else %>
					Non-Foodie
				<% end %>
			</div>
			
			<div id="nomination">
				<% if Nomination.where( :user_id => @user.id ).exists? && current_user.foodie %>
					<!--We need to check whether this person has already voted -->					
					<% if !Nomination.where( :user_id => @user.id, :voter => current_user.id ).exists? %>
						<div id="votingButtons">
							Vote on <%=@user.first_name%>'s nomination: 
							<a href="javascript:function Z(){Z=''}Z()" id="yayLink">Yay</a> or 
							<a href="javascript:function Z(){Z=''}Z()" id="nayLink">Nay</a> <br />
						</div>
						<script>
							$('#yayLink').click( function(){
								$.post( "/nominations", { 'nomination[user_id]': <%=@user.id%>, 
															'nomination[vote]': 1,
															'nomination[voter]': <%=current_user.id%>,
															'nomination[nominator]': 0,
														},
									function( data ){
										alert( 'Yay vote Submitted!' );
										$('#votingButtons').hide();
										window.location.reload();
									})
							});
							$('#nayLink').click( function(){
								$.post( "/nominations", { 'nomination[user_id]': <%=@user.id%>, 
															'nomination[vote]': 0,
															'nomination[voter]': <%=current_user.id%>,
															'nomination[nominator]': 0,
														},
									function( data ){
										alert( 'Nay vote Submitted!' );
										$('#votingButtons').hide();
										window.location.reload();
									})
							});
						</script>
					<% end %>
				<% elsif !@user.foodie && current_user.foodie %>
					To nominate <%= @user.first_name + " " + @user.last_name %> as a foodie, 
						click <a href="javascript:function Z(){Z=''}Z()" id="nominateAsFoodie">here</a>
					<script>
						$('#nominateAsFoodie').click( function(){
							$.post( "/nominations", { 'nomination[user_id]': <%=@user.id%>, 
														'nomination[vote]': true,
														'nomination[voter]': <%=current_user.id%>,
														'nomination[nominator]': 1,
													},
								function( data ){
									alert( 'Foodie nomination submitted!' );
									$('#votingButtons').hide();
									window.location.reload();
								})
						});
					</script>
				<% end %>
				
				<% if Nomination.where( :user_id => @user.id ).exists? 
					votesFor = Nomination.count( :conditions => [ "user_id = ? AND vote = 1", @user.id] )
					votesAgainst = Nomination.count( :conditions => [ "user_id = ? AND vote = 0", @user.id] )
					#hard-coding a minimum number of yes's!!
					minYes = 5
					votesNeeded = ( votesAgainst > minYes ? votesAgainst : minYes ) - votesFor%>
					<!--If there's a nomination at all, we want to show how that's going -->
					<%=@user.first_name%> has been nominated to be a foodie! <br />
					There are <%=votesFor%> votes for, <%=votesAgainst%> votes against. <%=votesNeeded%> more votes are needed.
					<% #Let's check to see if this person's nomination has been fulfilled
					if( votesNeeded <= 0 )
						#Hurrah, he's a new foodie!
						#TODO: SEND AN EMAIL
						user = User.where( :id => @user.id ).first
						user.foodie = 1
						user.save
						Nomination.destroy_all :user_id => @user.id
						Opinion.update_all( "foodie = 1", :user_id => @user.id )
						page.reload
					end
					%>
				<% elsif @user.foodie == false && @user.id == current_user.id %>
					<!--Self nomination -->
					<% numRated = Opinion.count( :conditions => [ "user_id = ?", @user.id ] ) 
					if numRated < 10 %>
						You may nominate yourself to be a foodie once you have rated at least 50 places. <br />
						You have rated <%=numRated%> places so far. 
						To understand how foodies work, click <%=link_to "here", "/becomeafoodie"%>
					<%else%>
						If you'd like to self-nominate yourself to be a foodie, click 
							<a href="javascript:function Z(){Z=''}Z()" id="selfNominate">here</a>
						<script>
							$('#selfNominate').click( function(){
								$.post( "/nominations", { 'nomination[user_id]': <%=@user.id%>, 
															'nomination[vote]': true,
															'nomination[voter]': <%=current_user.id%>,
															'nomination[nominator]': 1,
														},
									function( data ){
										alert( 'Foodie nomination submitted!' );
										$('#votingButtons').hide();
										window.location.reload();
									})
							});
						</script>
					<%end%>
				<% end %>
				
			</div>
		</div>
		
		<div class="restaurantListHeader"><b>Restaurants <%= @user.first_name %> likes:</b> </div>
		
		<div class="restaurantList">
			<% unless @user.opinions.empty? %>
				<table class="opinions" summary="User opinions">
					<%= render @opinions %>
				</table>
				<%= will_paginate @opinions %>
			<% end %>
		</div>
		
		<!--Gotta make the border stretch all the way -->
		<img src="../images/footer.jpg" />
		
	</div>

</body>
</html>