<html>
<head>

<title>Restaurant recommendations from Foodies - foodierecs</title>

  <%= stylesheet_link_tag "homeStyle", "http://fonts.googleapis.com/css?family=Lobster+Two", "http://fonts.googleapis.com/css?family=News+Room" %>
  <%= javascript_include_tag :defaults, "http://connect.facebook.net/en_US/all.js", 					
										"http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" %>

<!--This is for displaying on iOS -->
<meta name="viewport" content="width=500">
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="apple-touch-icon-precomposed" href="../images/appleLogo.jpg" />

<!--<script type="text/javascript" src="<?php echo $this->config->system_url(); ?>assets/js/bookmark_bubble.js"></script>
<script type="text/javascript" src="<?php echo $this->config->system_url(); ?>assets/js/bubble_example.js"></script>-->
<% backgroundPic = rand( 6 ) + 1 
session[ :background_pic ] = backgroundPic %>


</head>
<!--the onload code is for iOS-->
<body onload="setTimeout(function() { window.scrollTo(0, 1) }, 500); 
				$('html').css( 'background', 
									'url(../images/background<%=session[ :background_pic ]%>.jpg) no-repeat center center fixed' );" >
	<div id="fb-root"></div>
  	<script>
    	window.fbAsyncInit = function() {
      	//Replace appId with your own
      	FB.init({appId: '213050112074083', status: true, cookie: true,
               	xfbml: true});
    	};
    	(function() {
	  		var e = document.createElement('script'); e.async = true;
      		e.src = document.location.protocol +
       		'//connect.facebook.net/en_US/all.js';
   			document.getElementById('fb-root').appendChild(e);
  		}());
  	</script>
  	
  	<% puts ("test time") %>

	<div id="homeContent">
		<div id="homeTitle">
			foodierecs.com
		</div>
		
		<div id="homeSubHeader">
			foodierecs is available in <b> NYC only </b><br />
			foodierecs is a community for 
			foodies and those who trust 
			the recommendations of foodies. <br /><br />

			to join, please use your facebook
			account
		</div>
		
		<div id="fbLogin">
			<!--
			<div id="fb-root"></div>
    			<a href="auth/facebook" class="auth_provider">
    				<%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>
    				Login with Facebook
    			</a> 
			-->
		    <script>
	  			FB.Event.subscribe('auth.login', function () {
					FB.api('/me', function(response) {
						$.post( "users/exists/" + response.username, function( data ){
							if( data == "NO" ){
								//need to create this user
								$.post( "<%= url_for( :controller => 'users', :only_path => false ) %>", 
									{ 'user[first_name]': response.first_name, 'user[last_name]': response.last_name,
										'user[username]': response.username, 'user[facebook_url]': response.link,
										'user[gender]': response.gender,
										'user[email]':response.email },
									function(response){
										//response should be the new user id
										window.location = "/session/new/" + data;
									} );
							}
							else{
								window.location = "/session/new/" + data;
							}
						});
					})
					
		 		});
	 		</script>
    		<script>
	        	FB.init({ 
    	        appId:'213050112074083', cookie:true, 
        	    status:true, xfbml:true 
	         });
		    </script>
    		<fb:login-button perms="email,publish_stream">
    			Login with Facebook
    		</fb:login-button>
    	</div>

		<div ><%=link_to( "all restaurants", '/restaurant', :style=>"color:#333; text-decoration:none; font-size: 2px;" )%></div>
		
	</div>

</body>
</html>