<% puts("\n\n\nrecommended\n\n\n") %>
<div class="restaurant">
	<%= @count %>. <%= link_to restaurant.name, restaurant_path(restaurant) %> 
	<span class="addressAndName">
					(<%= restaurant.street_number + " " + restaurant.vicinity %>)
	</span>
</div>
<% #puts(restaurant_path(restaurant))%>
<div class="restaurantRecommend noFoodie"> <div>
	<div id="fb-root"></div>
	<fb:like href="<%= "http://foodierecs.heroku.com"+restaurant_path(restaurant) %>"  send="false" 
			layout="button_count" width="50" show_faces="true" font="verdana" style="float:left"></fb:like>
	<% if !Opinion.where( :restaurant_id => restaurant.id, :user_id => current_user.id ).exists? %>
	<a href="javascript:function Z(){Z=''}Z()">
		<img id="notForFoodies<%=restaurant.id%>" src="../images/not-for-foodies.jpg">
	</a>
	<% end %>
	</div>
	
	<%if( !current_user.nil? )%>
	<script>
		$('#notForFoodies<%=restaurant.id%>').click(function(){
			$.post( "/opinions", { 'opinion[user_id]': <%=current_user.id%>, 'opinion[restaurant_id]': <%=restaurant.id%>,
				 					'opinion[foodie]': <%=current_user.foodie%>, 'opinion[like]': -1 },
				function( data ){
					//TO DO: WHY DOES IT NEVER GET IN HERE???
					alert( 'Marked as not for foodies!' );
				})
			alert( 'Marked as not for foodies!' );
			$('#notForFoodies<%=restaurant.id%>').hide();
		});
	</script>
	<%end%>

	
</div>
<% @count += 1 %>	