<% puts("\n\n\nrecommended\n\n\n") %>
<div class="restaurant">
	<%= @count %>. <%= link_to restaurant.name, restaurant_path(restaurant) %> 
	<span class="addressAndName">
		<% street_num = restaurant.street_number == nil ? ( 0 ) : (restaurant.street_number) %>
					(<%= street_num.to_s + " " + restaurant.vicinity %>)
	</span>
</div>

<%if( !session[ :user_id ].nil? )%>
<div class="restaurantRecommend noFoodie">
	<% thisOpinion = restaurant.opinions.where( :user_id => session[ :user_id ] )
	puts thisOpinion %>
	<a href="#forFoodies" class="forFoodies" id="forFoodies<%=restaurant.id%>"></a>
	<a href="#notForFoodies" class="notForFoodies" id="notForFoodies<%=restaurant.id%>"></a>
	<a href="#saveForLater" class="saveForLater" id="saveForLater<%=restaurant.id%>"></a>
</div>

<script>
	$('#notForFoodies<%=restaurant.id%>').click(function(){
		$('#notForFoodies<%=restaurant.id%>').addClass( 'notForFoodiesOn');
		$.post( "/opinions", { 'opinion[user_id]': <%=session[ :user_id ]%>, 'opinion[restaurant_id]': <%=restaurant.id%>,
			 					'opinion[foodie]': <%=User.find_by_id(session[:user_id]).foodie%>, 'opinion[like]': -1 }
				)
	});
	
	$('#forFoodies<%=restaurant.id%>').click(function(){
		$('#forFoodies<%=restaurant.id%>').addClass( 'forFoodiesOn');
		
		//These two are for the dialog box
		$('#opinion_restaurant_id').attr( 'value', <%=restaurant.id%> );
		$("#dialog").dialog('open');
		
		$.post( "<%= url_for( :controller => 'opinions', :only_path => false ) %>", 
				{ 'opinion[user_id]': <%= session[ :user_id ] %>, 'opinion[restaurant_id]': <%=restaurant.id%>,
					'opinion[foodie]': <%= User.find_by_id(session[:user_id]).foodie %>, 'opinion[like]': 1 }
			)
	});
	
	$('#saveForLater<%=restaurant.id%>').click(function(){
		$('#saveForLater<%=restaurant.id%>').addClass( 'saveForLaterOn');
		$.post( "/saved_places", 
		 		{ 'save_place[user_id]': <%=session[ :user_id ]%>, 'save_place[restaurant_id]': <%=restaurant.id%>,
			 					'save_place[foodie]': <%=User.find_by_id(session[:user_id]).foodie%> }
				)
	});

  	
</script>
<%end%>

<% @count += 1 %>	