<html>
<head>


<title><%= @title %></title>

<%= stylesheet_link_tag "restaurantStyle", "http://fonts.googleapis.com/css?family=Lobster+Two", 
										"http://fonts.googleapis.com/css?family=News+Room",
										"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" %>
<%= javascript_include_tag :defaults, "http://connect.facebook.net/en_US/all.js", 																										
										"http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js",
										"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" %>


<!--This is for displaying on iOS -->
<meta name="viewport" content="width=500">
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="apple-touch-icon-precomposed" href="../images/appleLogo.jpg" />

<!--<script type="text/javascript" src="<?php echo $this->config->system_url(); ?>assets/js/bookmark_bubble.js"></script>
<script type="text/javascript" src="<?php echo $this->config->system_url(); ?>assets/js/bubble_example.js"></script>-->

<!-- To show the google maps widget -->
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=false">
</script>

<script type="text/javascript"> 
  function mapsInitialize() {
    var myLatlng = new google.maps.LatLng(<%= @restaurant.lat %>,<%= @restaurant.long %>);
    var myOptions = {
      zoom: 15,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

    var marker = new google.maps.Marker({
        position: myLatlng, 
        map: map,
        title: "<%= @restaurant.name.squeeze(" ").tr("(),?!':.[]", "") %>"
    });   

  }

</script>

<!--Facebook Meta Tags -->
<meta property="og:title" content="<%= @restaurant.name.squeeze(" ").tr("(),?!':.[]", "") %> - foodierecs" />
<meta property="og:type" content="restaurant" />
<meta property="og:url" content="<%= "http://foodierecs.com"+request.fullpath %>" />
<meta property="og:image" content="" />
<meta property="og:site_name" content="foodierecs.com" />
<meta property="fb:app_id" content="213050112074083" />

<script>
//so we can make delete requests
function _ajax_request(url, data, callback, type, method) {
    if (jQuery.isFunction(data)) {
        callback = data;
        data = {};
    }
    return jQuery.ajax({
        type: method,
        url: url,
        data: data,
        success: callback,
        dataType: type
        });
}

jQuery.extend({
    put: function(url, data, callback, type) {
        return _ajax_request(url, data, callback, type, 'PUT');
    },
    delete_: function(url, data, callback, type) {
        return _ajax_request(url, data, callback, type, 'DELETE');
    }
});
</script>


<% if session[ :background_pic ].nil? 
	backgroundPic = rand( 6 ) + 1 
	session[ :background_pic ] = backgroundPic
end %>

</head>
<body onload="setTimeout(function() { window.scrollTo(0, 1) }, 500); $('#dialog').dialog({ autoOpen:false, modal:true }); mapsInitialize();
				$('html').css( 'background', 
					'url(../images/background<%=session[ :background_pic ]%>.jpg) no-repeat center center fixed' ); autocompleteInit();" >
<div id="fb-root"></div>
	<!--facebook connect-->
	<script>
	  window.fbAsyncInit = function() {
    	FB.init({appId: '213050112074083', status: true, cookie: true,
	             xfbml: true});
	  };
	  (function() {
	    var e = document.createElement('script'); e.async = true;
    	e.src = document.location.protocol +
	      '//connect.facebook.net/en_US/all.js';
    	document.getElementById('fb-root').appendChild(e);
	  }());
	</script>

	<!--
	<div class="backgroundImageWrap">
		<img src="../images/bar.jpg" class="backgroundImage" width="1264" height="790">
	</div>
	-->
	<div id="restaurantContent">
		<%= render 'layouts/header' %> 
		
		<div id="restaurantInfo">
			<div id="restaurantName">
				<%= @restaurant.name %> 
			</div>
			
			<div id="restaurantAddress">
				<%= @restaurant.address %> 
			</div>
		</div>
		
		<%if( !session[ :user_id ].nil? )%>
		<div class="restaurantRecommend">
			<% thisOpinion = @restaurant.opinions.where( :user_id => session[ :user_id ] )
			forFoodiesClass = ""
			notForFoodiesClass = ""
			if( thisOpinion.exists? )
				if( thisOpinion.first.like == 1 )
					forFoodiesClass = "forFoodiesOn"
				elsif( thisOpinion.first.like == -1 )
					notforFoodiesClass = "notForFoodiesOn"
				end
			end 
			thisSaved = @restaurant.saved_places.where( :user_id => session[ :user_id ] )
			saveLaterClass= "saveForLater"
			if( thisSaved.exists? )
				saveLaterClass = "saveForLater saveForLaterOn"
			end
			%>
			<a href="#action" class="forFoodies <%=forFoodiesClass%>" id="forFoodies"></a>
			<a href="#action" class="notForFoodies <%=notforFoodiesClass%>" id="notForFoodies"></a>
			<a href="#action" class="<%=saveLaterClass%>" id="saveForLater"></a>
		</div>

		<script>
			$('#notForFoodies').click(function(){
				//turn this button on
				$('#notForFoodies').addClass( 'notForFoodiesOn');

				//if the other one is on, turn that off
				if( $( '#forFoodies' ).hasClass( "forFoodiesOn" ) )
					$( '#forFoodies' ).removeClass( "forFoodiesOn" );

				$.post( "/opinions", { 'opinion[user_id]': <%=session[ :user_id ]%>, 'opinion[restaurant_id]': <%=@restaurant.id%>,
					 					'opinion[foodie]': <%=User.find_by_id(session[:user_id]).foodie%>, 'opinion[like]': -1 }
						)
			});

			$('#forFoodies').click(function(){
				//turn this button on
				$('#forFoodies').addClass( 'forFoodiesOn');

				//if the other one is on, turn that off
				if( $( '#notForFoodies' ).hasClass( "forFoodiesOn" ) )
					$( '#notForFoodies' ).removeClass( "forFoodiesOn" );

				//These two are for the dialog box
				$('#opinion_restaurant_id').attr( 'value', <%=@restaurant.id%> );
				$("#dialog").dialog('open');

				$.post( "<%= url_for( :controller => 'opinions', :only_path => false ) %>", 
						{ 'opinion[user_id]': <%= session[ :user_id ] %>, 'opinion[restaurant_id]': <%=@restaurant.id%>,
							'opinion[foodie]': <%= User.find_by_id(session[:user_id]).foodie %>, 'opinion[like]': 1 }
					)
			});

			$('#saveForLater').click(function(){
				//we do toggle here because this works for on/off
				$('#saveForLater').toggleClass( 'saveForLaterOn')
				$.post( "/saved_places", 
				 		{ 'save_place[user_id]': <%=session[ :user_id ]%>, 'save_place[restaurant_id]': <%=@restaurant.id%>,
					 					'save_place[foodie]': <%=User.find_by_id(session[:user_id]).foodie%> }
						)
			});
		</script>
		
		<div id="dialog" title="Recommendations" style="display:none" >
			<% @opinion = Opinion.new %>
			<%= render :partial => 'opinions/form' %>
		</div>
		<%end%>
			
		<div class="foodieList">
			<b><%= "Foodies who like " + @restaurant.name %>:</b> <br/>
			<% @foodie = true %>
			<% unless @restaurant.opinions.empty? %>
				<table class="opinions" summary="User opinions">
					<%= render @opinions %>
				</table>
				<%= will_paginate @opinions %>
			<% end %>
		</div>
		
		<!--This needs to be done since we're not doing the like button thing anymore
		<div class="likeFacePile">
			<b><%= "Everyone who likes " + @restaurant.name %>:</b> <br />
			<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:facepile href="<%= request.url; %>" width="200" max_rows="5"></fb:facepile>
		</div>
		-->
		
		<div id="map_canvas"></div>
		
		<div class="commentsWrapper">
		<div class="restaurantComments">
			<div id="fb-root"></div>
			<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
			<!--Replace the URL for this page and width here-->
			<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:comments href="<%= request.url; %>" num_posts="5" width="500"></fb:comments>
		</div>
		</div>
		
	</div>

</body>
</html>