<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @restaurant.name %>
</p>

<p>
  <b>Address:</b>
  <%= @restaurant.address %>
</p>

<p>
  <b>Street number:</b>
  <%= @restaurant.street_number %>
</p>

<p>
  <b>Street:</b>
  <%= @restaurant.street %>
</p>

<p>
  <b>Phone:</b>
  <%= @restaurant.phone %>
</p>

<p>
  <b>Lat:</b>
  <%= @restaurant.lat %>
</p>

<p>
  <b>Long:</b>
  <%= @restaurant.long %>
</p>

<p>
  <b>Icon:</b>
  <%= @restaurant.icon %>
</p>

<p>
  <b>Google:</b>
  <%= @restaurant.google_id %>
</p>

<p>
  <b>Reference:</b>
  <%= @restaurant.reference %>
</p>

<p>
  <b>Type1:</b>
  <%= @restaurant.type1 %>
</p>

<p>
  <b>Type2:</b>
  <%= @restaurant.type2 %>
</p>

<p>
  <b>Type3:</b>
  <%= @restaurant.type3 %>
</p>

<p>
  <b>Type4:</b>
  <%= @restaurant.type4 %>
</p>

<p>
  <b>Url:</b>
  <%= @restaurant.url %>
</p>

<p>
  <b>Vicinity:</b>
  <%= @restaurant.vicinity %>
</p>

<p>
  <b>Rating:</b>
  <%= @restaurant.rating %>
</p>

<p>
  <b>Foodie likes:</b>
  <%= @restaurant.foodie_likes %>
</p>

<p>
  <b>Foodie dislikes:</b>
  <%= @restaurant.foodie_dislikes %>
</p>

<p>
  <b>Normal likes:</b>
  <%= @restaurant.normal_likes %>
</p>

<p>
  <b>Normal dislikes:</b>
  <%= @restaurant.normal_dislikes %>
</p>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
