<%= form_for(@nomination) do |f| %>
  <% if @nomination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nomination.errors.count, "error") %> prohibited this nomination from being saved:</h2>

      <ul>
      <% @nomination.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :vote %><br />
    <%= f.check_box :vote %>
  </div>
  <div class="field">
    <%= f.label :voter %><br />
    <%= f.text_field :voter %>
  </div>
  <div class="field">
    <%= f.label :nominator %><br />
    <%= f.check_box :nominator %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
